*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.background-color{
  width: 100%;
  height: 100%;
  background:rgba(0,0,0,0.2);
  position: absolute;
}
.background-container{
  position: relative;
  min-height: 100vh;
  background-image: url('./assets/NikeBackGround.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}